---
import { basics } from '@cv';
import Section from '@/components/Section.astro';
import WorldMap from '@/icons/WorldMap.astro';
import NavBar from '../NavBar.astro';

const { name, label1, label2, location, profiles, email, resume } = basics;
const { city, region } = location;

const linkedInfo = profiles.find((p) => p.network === 'LinkedIn');
const LinkedUrl = linkedInfo?.url;

const githubInfo = profiles.find((p) => p.network === 'GitHub');
const gitHubUrl = githubInfo?.url;

const printInfo = [email, LinkedUrl, gitHubUrl];
---

<Section>
  <div class="container">
    <NavBar />
    <div class="info">
      <div class="title">
        <div class="labels">
          <h2>
            {label1}
            <br />
            &amp;
            {label2} with <br />
            +2 years experience
          </h2>
        </div>
        <span>
          <WorldMap />
          {city}, {region}
        </span>
        <p class="quote">
          Designing with purpose <br />
          Thinking with empathy <br />
          Enjoying the process
        </p>
      </div>
      <footer>
        <div class="social-flex">
          {
            resume && (
              <a
                class="resume"
                href={resume}
                title={`Descargar CV de ${name}`}
                target="_blank"
                rel="noopener noreferer"
              >
                Resume
              </a>
            )
          }
          {
            profiles.map(({ network, url }) => {
              return (
                <a
                  class="social"
                  href={url}
                  title={`Visitar perfil de ${name} en ${network}`}
                  target="_blank"
                  rel="noopener noreferer"
                >
                  {network}
                </a>
              );
            })
          }
        </div>
      </footer>
    </div>
  </div>
</Section>

<style>
  .container {
    position: fixed;
    background-color: var(--color-fondo);
    padding: 64px 2px 140px 0;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    text-align: left;
    z-index: 100;
    height: 100vh;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    min-width: 240px;
    color: var(--color-texto);
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: start;
  }

  .labels h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
    line-height: 1;
  }

  span {
    display: flex;
    align-items: center;
    color: var(--color-cuarto);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    font-weight: 400;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .quote {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
    word-break: keep-all;
    white-space: nowrap;
    color: var(--color-texto);
    margin-top: 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.4rem;
  }

  .social-flex {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 0.4rem;
    width: 80px;
    margin-top: 2rem;
  }

  .social,
  .resume {
    font-family: 'Space Grotesk', monospace;
    transition: all 0.3s ease;
    color: var(--color-texto);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    position: relative;
    justify-content: center;
  }

  .resume {
    color: var(--color-primario);
  }

  .social::after,
  .resume::after {
    content: '↗';
    font-size: 1rem;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-texto);
  }

  .resume::after {
    color: var(--color-primario);
  }

  .social:hover::after,
  .social:focus-visible::after,
  .resume:hover::after,
  .resume:focus-visible::after {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.05s;
  }

  .social:hover,
  .social:focus-visible,
  .resume:hover,
  .resume:focus-visible {
    transform: translateX(2px);
  }

  @media (max-width: 760px) {
    .container {
      position: relative;
      gap: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: left;
      z-index: 100;
      height: 40vh;
      width: 90vw;
      max-width: 720px;
    }

    .info {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      width: 100%;
    }

    .social-flex {
      margin-top: 0;
    }
  }

  @media (max-width: 400px) {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: left;
      z-index: 100;
      height: 60vh;
      width: 90vw;
      padding-bottom: 1rem;
      max-width: 720px;
    }

    .info {
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      width: 100%;
    }
  }

  /* Resto de tus estilos responsivos u otros ajustes */
</style>
