---
import { basics } from '@cv';
import Section from '@/components/Section.astro';
import WorldMap from '@/icons/WorldMap.astro';

const { name, label1, label2, image, location, profiles, email } = basics;
const { city, region } = location;

const linkedInfo = profiles.find((p) => p.network === 'LinkedIn');
const LinkedUrl = linkedInfo?.url;

const githubInfo = profiles.find((p) => p.network === 'GitHub');
const gitHubUrl = githubInfo?.url;

const printInfo = [email, LinkedUrl, gitHubUrl];
---

<Section>
  <div class="container">
    <div class="info">
      <div class="title">
        <h1 class="name">
          Hello, I'm
          <br />
          {name}
        </h1>

        <div class="labels">
          <h2>
            A {label1}
            <br />
            &
            {label2} with <br />
            +2 years experience
          </h2>
        </div>
        <span>
          <WorldMap />
          {city}, {region}
        </span>
        <p class="quote">
          Designing with purpose <br />
          Thinking with empathy <br />
          Enjoying the process
        </p>
      </div>
      <footer>
        {
          email && (
            <a
              class="mail"
              href={`mailto:${email}`}
              title={`Enviar correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferer"
            >
              Contact
            </a>
          )
        }

        {
          profiles.map(({ network, url }) => {
            return (
              <a
                href={url}
                title={`Visitar perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferer"
              >
                {network}
              </a>
            );
          })
        }
      </footer>
    </div>
   

    <!-- <figure>
      <img src={image} alt={name} />
    </figure> -->
  </div>
</Section>

<style>
  .container {
    position: relative;
    margin-top: 8rem;
    height: 16rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    text-align: left;
  }

  .title {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.48rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    max-width: 680px;
  }
  .name {
    letter-spacing: -0.01em;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 0.8;
    color: var(--color-texto);
  }
  .labels h2 {
    font-size: 2rem;
    line-height: 1;
    font-weight: 500;
    color: var(--color-texto);
    text-transform: uppercase;
    margin: 0;
  }

  span {
    color: var(--color-terciario);
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    line-height: 1.4;
    font-weight: 500;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 0.2rem;
  }

  .quote {
    margin-bottom: 1rem;
    align-self: flex-end;
    font-size: 0.8rem;
    word-break: keep-all;
    white-space: nowrap;
    color: var(--color-terciario);
  }

  figure {
    position: absolute;
    right: -8rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.4rem;

    height: 16rem;
    margin: 0;
  }
  figure p {
    color: var(--color-terciario);
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    line-height: 1.4;
    font-weight: 500;
    text-align: right;
    margin: 0;
  }

  figure img {
    height: 90%;
    border-radius: 16px;

    object-fit: cover;
  }

  footer {
    display: flex;
    justify-content: flex-start;
    gap: 0.4rem;
  }
  footer a {
    font-size: 0.8rem;
    /* text-transform: uppercase; */
    font-weight: 600;
    padding: 8px 24px;
    border-radius: 12px;
    border: 1px solid var(--color-borde);
    color: var(--color-texto);
    transition: all 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  footer a:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.164);
    border: 1px solid var(--color-fondo);
    /* background-color: var(--color-texto); */
  }

  footer .mail {
    background-color: var(--color-primario);
    color: var(--color-fondo);
    border: 1px solid var(--color-primario);
    width: fit-content;
    padding: 8px 24px;
    border-radius: 12px;
    display: block;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.164);
    font-weight: 600;
  }
  footer .mail:hover {
    border: 1px solid var(--color-primario);
    transform: scale(1.05);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.164);
  }

  @media (max-width: 600px) {
    .container {
      
      flex-direction: column;

      position: relative;
      height: 72vh;
    }
    .info {
      justify-content: space-between;
      margin-top: 0px;
      width: 100%;
      height: 100%;
      right: 1rem;
      z-index: 10;
    }
    figure {
      position: absolute;
      top: 0;
      left: -1rem;
      right: -1rem;
      height: 72vh;
      flex-direction: column;
    }
    figure p {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      z-index: 10;
      text-align: left;
    }
    figure img {
      height: 100%;
      width: 100%;

      border-radius: 0;
    }
    figure::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        #121212 0%,
        #12121249 36%,
        #12121200 100%
      );
      z-index: 1;
      border-radius: 8px;
    }
    .name {
      font-size: 3.2rem;
    }
    .labels h2 {
      font-size: 1.8rem;
      line-height: 1;
    }
    p {
      opacity: 0.9;
    }
    footer a {
      border: 1px solid var(--color-borde);
    }
    footer {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 450px) {


    .info {
      gap: 2rem
    }
        .name {
      font-size: 2.8rem;
    }
    .labels h2 {
      font-size: 1.48rem;
    }

    .quote {
      margin-top: 1rem;
    }

    footer {
      flex-direction: column;
      gap: .8rem
    }

    footer a, footer .mail {
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
    }


  @media print {
    *,
    h1,
    h2,
    h3,
    h4,
    p,
    span {
      color: black;
      background: white;
    }
    footer {
      display: none;
    }
  }
</style>
