---
import Section from '../Section.astro';
import { projects } from '@cv';
---

<Section title="Projects">
  <ul class="projects">
    {
      projects.map(({ name, description, roles, url, image }) => (
        <li class="project">
          <img src={image} alt={name} class="project-image" />
          <article class="data">
            <header>
              <h3>{name}</h3>
              <p>{description}</p>
            </header>
            <footer class="project-footer">
              <ul class="roles">
                {roles.map((role) => (
                  <li>
                    <span class="tag">{role}</span>
                  </li>
                ))}
              </ul>
            </footer>
            <a href={url} target="_blank" rel="noopener noreferer">
              Demo
            </a>
          </article>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  .data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0;
  }

  /* Replace column layout with grid */
  .projects {
    display: grid;
    gap: 1rem;
    justify-content: space-between;
    /* Default: 3 columns */
    grid-template-columns: repeat(3, 1fr);
  }

  /* Limit each project card to 20rem max */
  .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 12px;
    background: var(--color-fondo);
    color: var(--color-texto-proyecto);
    transition: all 0.3s ease;
    /* Prevent grid items from breaking inside */
    break-inside: avoid;
    margin-bottom: 4rem;
  }

  .project h3,
  .project p,
  .project-footer {
    color: var(--color-texto-proyecto);
  }

  h3 {
    text-wrap: balance;
    font-size: 1.32rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  p {
    font-size: 1rem;
    opacity: 0.9;
    margin-top: 0.4rem;
  }

  .project-image {
    position: relative;
    width: 100%;
    /* Keeping the fixed height to ensure consistency */
    height: 440px;
    object-fit: cover;
    background-position: center;
    border-radius: 12px;
    background-color: var(--color-primario);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .roles {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.4rem;
  }

  a {
    font-size: 1rem;
    font-weight: 400;
    padding: 8px 24px;
    border-radius: 12px;
    border: 1px solid var(--color-primario);
    color: var(--color-primario);
    transition: all 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  a:hover,
  a:focus-visible {
    background-color: var(--color-primario);
    color: var(--color-fondo);
    box-shadow: 0 2px 12px var(--color-sombra-boton-hover);
  }

  a:active {
    transform: scale(0.98);
    box-shadow: 0 3px 8px rgba(255, 255, 255, 0.15);
  }

  .project-footer {
    border: none;
    margin-top: 1%;
  }

  .project-footer p {
    margin: 0.4rem 0;
  }

  /* Media Query: Tablet/Medium – Two Columns */
  @media (max-width: 1024px) {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Media Query: Mobile – One Column */
  @media (max-width: 768px) {
    .projects {
      grid-template-columns: 1fr;
    }

    .data {
      padding-inline: 0;
      margin-bottom: 2rem;
      border-bottom: 1px solid var(--color-borde);
    }
  }
</style>
